<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964134291669-m4d2gbf99nffo36iaq36kri081cj0ttm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964134291669-m4d2gbf99nffo36iaq36kri081cj0ttm</string>
	<key>API_KEY</key>
	<string>AIzaSyCk_1g1VhPbYFolORs6cNdUIp0JSt75y2A</string>
	<key>GCM_SENDER_ID</key>
	<string>964134291669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>utng.edu.mx.MyStocktaking</string>
	<key>PROJECT_ID</key>
	<string>mystocktaking</string>
	<key>STORAGE_BUCKET</key>
	<string>mystocktaking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964134291669:ios:60010aaa7c3369ad</string>
	<key>DATABASE_URL</key>
	<string>https://mystocktaking.firebaseio.com</string>
</dict>
</plist>